{% extends "base.html" %}
{% load i18n %}

{% block title %} Spørsmål 3/8 {% endblock %}

{% block content %}
<article>
<h1> {% blocktrans %}Spørsmål{% endblocktrans %} 3 / 8 </h1>


{% if error %}
{{ error|safe }}
{% endif %}
<form action="." method="POST">

<p>{% blocktrans %}Stort sett, på en skala fra 1 til 7, hvor villig er du til å bidra til gode initiativ om du ikke kan vente noe igjen for det?{% endblocktrans %}</p>
<table>
<tr>  <td align=center> <input type=radio name=answer3 value=1></td> <td> 1: {% blocktrans %}Lite villig til å bidra.{% endblocktrans %}</td></tr>
<tr> <td align=center> <input type=radio name=answer3 value=2></td> <td>2 </td> </tr>
<tr> <td align=center> <input type=radio name=answer3 value=3></td> <td>3 </td> </tr>
<tr> <td align=center> <input type=radio name=answer3 value=4></td> <td>4: {% blocktrans %}Ganske gjennomsnittlig{% endblocktrans %} </td> </tr>
<tr> <td align=center> <input type=radio name=answer3 value=5></td> <td>5 </td> </tr>
<tr> <td align=center> <input type=radio name=answer3 value=6></td> <td>6 </td> </tr>
<tr> <td align=center> <input type=radio name=answer3 value=7></td> <td>7: {% blocktrans %}Veldig villig til å bidra.{% endblocktrans %} </td> </tr>
</table>

<br>
<input type=hidden name=psid value="{{psid}}">
<input type=hidden name=qtype value='q3'>
<input type=hidden name=items value='answer3'>
<input type=submit value="{% blocktrans %}Gå videre{% endblocktrans %}" style="font-size:20px">
</form>
</article>
{% endblock %}
